# Игнорировать всё
*

# Но не src/ и всё внутри неё
!src/
!src/**

# Не игнорировать файл README.md
!README.md

# Не игнорировать Gradle скрипты
!build.gradle
!settings.gradle

# Игнорировать папку .idea
.idea/